#category-nav
    background: $secondary-color
    color: $font-white
    //display: flex

.category-items
   display: flex

.second-nav
    display: flex
    margin: auto

    li  
        list-style: none

        a
            display: block
            text-decoration: none
            margin: 10px
            color: $font-white
            padding: 10px
            transition: all 0.2s ease
        
        a:hover
            background: white
            border-radius: 10px
            color: $secondary-color


