#header-zapatillas
    background: url("../img/zapatillas-img.jpg") no-repeat
    background-size: cover
    height: 500px
    color: white

#header-electronica
    background: url("../img/electronica-img.jpg") no-repeat
    background-size: cover
    height: 500px
    color: white

#header-jugueteria
    background: url("../img/jugueteria-img.jpg") no-repeat
    background-size: cover
    height: 500px
    color: white


#header-hogar
    background: url("../img/hogar-img.jpg") no-repeat
    background-size: cover
    height: 500px
    color: white

#header-ropa
    background: url("../img/ropa-img.jpg") no-repeat
    background-size: cover
    height: 500px
    color: white

.title
    margin-top: 150px
    font-weight: bold

    @media screen and ( max-width: 1117px )
        margin-left: 20px

    @media screen and ( max-width: 660px )
        width: 80%
        