#offers
    text-align: left

    h1
        text-align: center

.offers-cards
    display: grid
    grid-template-columns: repeat(3, auto)
    align-content: center
    justify-content: center
    //grid-template-rows: repeat(3, auto)

    @media screen and ( max-width: 980px )
        grid-template-columns: repeat(2, auto)
    @media screen and ( max-width: 660px )
        grid-template-columns: repeat(1, auto)


.card
    margin: 20px